#customers {
   
    
    margin-left: 10%;
    border-radius: 9px;
   
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 80%;
   }
   

   #customers td, #customers th {
     
     border: 1px solid #ddd;
    
     padding: 20px 20px;
 
   }
   #customers th{
     font-weight: bold;
   }
   
   #customers tr:nth-child(even){background-color: #f2f2f2;}
   
  
   
   #customers th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color:#2f7fad;
     color: white;
   }
   #send{
     border: none;
     
     
   }
   #ed{
      
       padding: 9px 9px;
      
       text-decoration: none;
       
   }
   #del{
    
     padding: 9px 9px;
     
     text-decoration: none;
    
 }
 .smsg{
  
   width: 600px;
   border-radius: 6px;
  border: 2px solid green;
   position: absolute;
   top: 18%;
   left: 18%;
   
 }
 .smsg p{
   font-size: 23px;
   font-weight: bold;
   padding: 7px 7px;
   color:green;
  
 
   background-color:rgb(235, 195, 195);
 }